<ion-view view-title="Contactos">
<ion-content>
<div class="list card">
  <div class="item item-divider">
     <center>Contactos Comerciales<center>
  </div>
  <div class="item item-body">
    <img class="full-image" src="img/easymail.jpg">
    <p>
      Usted puede solicitar asesoramiento sin compromiso alguno para su empresa. Nuestra experiencia y trayectoria en el Mercado están a su disposición mediante nuestros asesores comerciales, puede contactarlos en forma telefónica al <b>0810-444-8875</b> para <b>Argentina</b> o al <b>900.90.90</b> para <b>Uruguay</b>.
    </p>
  </div>
  <div class="item item-divider">
        <center>Contactos Sucursales<center>
  </div>
  <div class="item item-body">

<b><p>EasyMail Uruguay:</p></b>
<br><b>Andes 1365 Of. 1001</b>
<br><b>CP</b>: 11100 - Montevideo, Uruguay
<br><b>Tel:</b> +598 (02) 900.9090*
<br><b>Fax:</b> +598 (02) 900.6498*
<br><b>Email:</b> info@easymail.net.uy

<b><p>EasyMail Argentina:</p></b>

<b><p>EasyMail Buenos Aires</p></b>

<br><b>Chacabuco 515, Ciudadela</b>
<br><b>B1702FJK - Buenos Aires - Argentina</b>
<br><b>Tel:</b> 0810-444-8875</b>
<br><b>Tel:</b> +54 (011) 5276-4000</b>
<br><b>Fax:</b> +54 (011) 4653-1200</b>
<br><b>Email:</b> info@easymail.net.ar</b>

<b><p>EasyMail Córdoba</p></b>

<br><b>Impira 1683 Bº Santa Isabel</b>
<br><b>X5017LVA - Córdoba - Argentina</b>
<br><b>Tel:</b> 0810-444-8875
<br><b>Tel:</b> +54 (0351) 568-1080
<br><b>Email:</b> info@easymail.net.ar

</div>
</div>
</ion-content>
</ion-view>
<ion-footer-bar align-title="left" class="bar-positive">
            <div class="buttons">
                  <button class="button" ng-click="easymail()"><i class="icon ion-android-globe"></i></button>
            </div>
            <h1 class="title">EasyTrack</h1>
            <div class="buttons">
                <button class="button" ng-click="facebook()"><i class="icon ion-social-facebook"></i></button>
            </div>
</ion-footer-bar>