<ion-view view-title="Mapa Dominios">
  <ion-content>
  	<div id="mapaTodosLosDominios"></div>
</ion-content>
</ion-view>
<ion-tabs class="tabs-positive tabs-icon-left">
                <a class="tab-item" href="#/app/playlists">
                  <i class="icon ion-android-pin"></i>
                      <span style="color: rgb(255, 255, 255); font-size: 1.3em;">Posiciones</span>
                </a>
                <a class="tab-item" href="#/app/perfil">
                  <i class="icon ion-person"></i>
                        <span style="color: rgb(255, 255, 255); font-size: 1.3em;">Perfil</span>
                </a>
                <a class="tab-item" href="#/app/salir">
                  <i class="icon ion-power"></i>
                        <span style="color: rgb(255, 255, 255); font-size: 1.3em;">Salir</span>
                </a>
            </ion-tabs>