<ion-view view-title="Contactos Comerciales">
<ion-content>
<div class="list card">

  <div class="item item-body">
    <img class="full-image" src="img/easymail.jpg">
    <p>
      <b>EasyMail S.A.</b> es una compañía integradora, que desde 1994 brinda Servicios de Valor Agregado para Empresas, en <b>Argentina, Chile y Uruguay</b>, con el objetivo de satisfacer todas las necesidades de Comunicaciones y Seguridad de nuestros Clientes. Para esto cuenta con las siguientes Unidades de Negocios:

    <p><b>Seguimiento Satelital (AVL)</p>
    <p>Comunicaciones</p>
    <p>Telemetría/Scada</p>
    <p>Servicios Transaccionales</b>

<p>En sus comienzos, y siendo parte del grupo de Empresas de AT&T Networked Commerce Services, EasyMail S.A. comenzó comercializando los productos de Mensajería X400 (FAX, Telex, Correo y EDI), para luego hacia el año 1997, incorporar los servicios de Internet Corporativo.

<p>En el año 2001, el 100 % del paquete accionario de <b>EasyMail S.A.</b>, fue comprado por VirtualCom, en ese momento a partir de las inversiones que se realizaron se incorporaron las divisiones de Seguimiento Satelital y Telemetría.

<p><b>EasyMail S.A.</b> cuenta con un staff de personas altamente capacitadas en distintos rubros vinculados a las telecomunicaciones, desde servicios transaccionales de alta disponibilidad, redes de transmisión de datos privadas, o servicios de comunicaciones satelitales y terrestres para seguimiento de vehículos y logística.

<p>Nuestro compromiso con el cliente esta basado en el establecimiento de una verdadera relación como socios estratégicos del mismo en todos aquellos aspectos vinculados a las telecomunicaciones; proveyendo asesoramiento constante en la introducción de nuevas tecnologías con un extremo cuidado de las inversiones a ser realizadas y el retorno de la misma.
    </p>
  </div>

</div>
</ion-content>
</ion-view>
<ion-footer-bar align-title="left" class="bar-positive">
            <div class="buttons">
                  <button class="button" ng-click="easymail()"><i class="icon ion-android-globe"></i></button>
            </div>
            <h1 class="title">EasyTrack</h1>
            <div class="buttons">
                <button class="button" ng-click="facebook()"><i class="icon ion-social-facebook"></i></button>
            </div>
</ion-footer-bar>