<ion-view view-title="Salir">
  <ion-content padding="true">
  <br><br><br>
  <center><img src="img/logoet.png"></center>
    <br><br>
   	<center><button class="button button-block button-positive" ng-click="logout()">Salir</button></center>
      <center><button class="button button-block button-positive" ng-click="otherUser()">Ingresar con otro Usuario</button></center>
  </ion-content>
</ion-view>
<ion-footer-bar align-title="left" class="bar-positive">
            <div class="buttons">
                  <button class="button" ng-click="easymail()"><i class="icon ion-android-call"></i></button>
            </div>
            <h1 class="title">EasyTrack</h1>
            <div class="buttons">
                <button class="button" ng-click="facebook()"><i class="icon ion-social-facebook"></i></button>
            </div>
</ion-footer-bar>
