<ion-view view-title="Solicitud de Posicion">
  <ion-content>
  		<br><br><br>
		<center>
		<div class="card">
          <div class="item item-text-wrap">
            ¡Solicitud enviada con éxito!
          </div>
        </div>
			<br><br>
			<div class="padding">
				<img src="img/ok.png">
			</div>
		</center>
  </ion-content>
</ion-view>
 <ion-tabs class="tabs-positive tabs-icon-left">
                <!--<a class="tab-item" href="#/app/playlists">
                  <i class="icon ion-android-pin"></i>
                      Posiciones
                </a>-->
                <a class="tab-item" href="#/app/perfil">
                  <i class="icon ion-person"></i>
                        <span style="color: rgb(255, 255, 255); font-size: 1.3em;">Perfil</span>
                </a>
                <a class="tab-item" href="#/app/salir">
                  <i class="icon ion-power"></i>
                        <span style="color: rgb(255, 255, 255); font-size: 1.3em;">Salir</span>
                </a>
            </ion-tabs> 